services:
  nginx:
    profiles: ["all", "web", "nginx"]
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/build:/usr/share/nginx/html
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - loading-service
    networks:
      - app

  db:
    profiles: ["all", "postgres", "db"]
    image: postgres:18-alpine
    env_file:
       - .env
    environment:
      - DATABASE:${DATABASE}
      - PG_USER=${POSTGRES_USER}
      - PG_PASSWORD=${POSTGRES_PASSWORD}

    volumes:
      - postgres_data2:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      app:
        aliases:
          - db
  migrations:
    env_file:
      - .env
    build:
      dockerfile: src/microservices/migrations/Dockerfile
      context: .
      network: host
    depends_on:
      db:
        condition: service_healthy
    profiles: [ "all", "migrations", "db" ]
    volumes:
      - ./src/microservices/migrations/migrations/versions:/app/migrations/versions
      - ./src/shared:/app/src/shared:rw
    networks:
      app:

  loading-service:
    profiles: [ "all", "web", "loading" ]
    env_file:
      - .env
    build:
      dockerfile: Dockerfile.dev
      context: .
      network: host
    volumes:
      - ./src/microservices/loading/src:/app/src:rw
      - ./src/shared:/app/src/shared:rw
      - ./files_hits:/app/${UPLOAD_DIR_HITS}s:rw
      - ./files_visits:${UPLOAD_DIR_VISITS}:rw
    environment:
      - WEB_CONCURRENCY=1
      - UVICORN_RELOAD=true
      - UVICORN_RELOAD_DIRS=/app/src
      - UVICORN_RELOAD_INCLUDE=*.py
      - UVICORN_RELOAD_EXCLUDE=*.tmp

    dns:
      - 8.8.8.8
      - 1.1.1.1
    dns_opt:
      - attempts:3
      - timeout:3
    dns_search:
      - .
    ports:
      - "${PORT_LOADING}:${PORT_SERVER}"
    depends_on:
      migrations:
        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://${HOST_SERVER}:${PORT_SERVER}/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      app:
        aliases:
          - loading-service

volumes:
  postgres_data2:
    
networks:
  app:
    driver: bridge